@using System.Web.Script.Services
@model SendSmsProject.Models.Sms


@{
    ViewBag.Title = "Success";
}

<body>


The message was sent succesfully!
To Receiver: @ViewData["Receiver"],
Content: @ViewData["Content"]
    
    @Html.ActionLink("Send new Message", "Create", "SendSms")


    


</body>

