@using System.Web.Script.Services
@model SendSmsProject.Models.Sms


@{
    ViewBag.Title = "Success";
}

<body>


The message was sent succesfully!<br /><br />
To Receiver: @ViewData["Receiver"],<br />

Content: @ViewData["Content"]<br /><br />

    
    @Html.ActionLink("Send new Message", "Create", "SendSms")


    


</body>

